* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

$primal-color: #f6931e;
$primal-color-focus: #f6741e;

// $primal-color: #208abb;
// $primal-color-focus: #14526e;

//prueba

#intro.home-video .overlay {
  position: relative;
  height: 100%;
  z-index: 2;
  padding: 20% 0;
}

#section-video .overlay {
  position: relative;
  height: 100%;
  z-index: 2;
  padding: 60px 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC);
}
