// SECTION 1 //BGVIDEO

.section1Home {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.bgVideo {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

// SECTION 2 // PRINCIPAL Y CTA

.section2Home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: white;
    text-align: center;
  }
}

.cta {
  border: none;
  background-color: $primal-color;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.5s;
}

.cta:hover {
  background-color: $primal-color-focus;
}

// SECTION 3 // SOBRENOSOTROS

.section3Home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 930px) {
    flex-direction: column;
  }

  .section3Home__description {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 50px;
    }

    p {
      font-size: 1.1rem;
      padding-left: 50px;
      padding-right: 50px;
      font-weight: 500;
      @media (max-width: 550px) {
        font-size: 0.9rem;
      }
    }

    // .sub {
    //   background-color: #f6951e;
    //   padding: 5px;
    //   border-radius: 7px;
    // }
    img {
      width: 230px;
      padding: 20px;
      border-radius: 10px;
      @media (max-width: 550px) {
        width: 150px;
      }
    }
    @media (max-width: 930px) {
      margin-top: 20px;
      width: 90%;
    }
  }

  .section3Home__img {
    width: 45%;
    height: 60vh;
    background-image: url("/img/grupoTrabajo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 200px 0px 200px 0px;
    @media (max-width: 930px) {
      display: none;
    }
  }
}

// SECTION 4 // MONTAJES INDUSTRIALES GOBATO

.section4Home {
  width: 100%;
  height: 50vh;
  background-image: url(../img/fondo1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  h2 {
    font-weight: 700;
    padding: 10px;
    background-color: rgba(200, 200, 200, 0.4);
    @media (max-width: 900px) {
      text-align: center;
    }
  }
}

// SECTION 5 // SERVICIOS

.section5Home {
  width: 100%;
  //height: 100vh;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  .section5Home__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      text-transform: uppercase;
      font-weight: 700;
    }

    .section5Home__carsContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 10px;

      @media (max-width: 830px) {
        flex-direction: column;

        align-items: center;
      }

      .section5Home__card {
        width: 260px;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        background-color: rgba(200, 200, 200, 0.4);

        @media (max-width: 1090px) {
          width: 400px;
          height: 350px;
          padding: 10px;
        }

        @media (max-width: 830px) {
          width: 100%;
        }
        i {
          font-size: 50px;
        }
        h2 {
          font-weight: 700;
        }
        h3 {
          text-transform: uppercase;
          font-size: 1rem;
        }
      }

      .twoCards {
        display: flex;
        gap: 10px;

        @media (max-width: 1090px) {
          flex-direction: column;
        }
      }
    }
  }
}

// SECTION 6 // SIN CONTENIDO

.section6Home {
  width: 100%;
  height: 50vh;
  background-image: url(../img/fondo2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
}

// SECTION 7 // TRABAJOS - CARROUSEL

.section7Home {
  width: 100%;
  //height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  .section7Home__container {
    z-index: -1;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    h2 {
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

.carousel-item {
  img {
    width: 80% !important;
  }
}

// SECTION 8 // CLIENTES

.section8Home {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: black;
    text-transform: uppercase;
    font-weight: 700;
  }

  //carrousel

  .owl-container {
    width: 80%;
    display: flex;
    justify-content: center;
    z-index: -1;
  }
  .owl-carousel {
    width: 90%;
  }

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 7rem;
      margin-left: 100px;
      margin-right: 100px;
    }
  }

  .owl-dots,
  .owl-nav {
    display: none;
  }
}

// SECTION 9 // CONTACTO

.section9Home {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;

  h2 {
    font-weight: 700;
  }
  .section9Home__contianer {
    width: 90%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    form {
      width: 600px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media (max-width: 650px) {
        width: 100%;
      }
      input {
        border-radius: 5px;
        padding: 5px;
        border: 1px solid rgb(124, 124, 124);
      }

      textarea {
        border-radius: 5px;
        padding: 5px;
        border: 1px solid rgb(124, 124, 124);
        max-height: 250px;
        min-height: 250px;
      }
    }
  }
}

//SECTION 10

.section10Home {
  width: 100%;
}

.accordion-button {
  background-color: $primal-color;
  color: white;
  text-transform: uppercase;
}

.accordion-button {
  display: flex;
  flex-direction: column;
  height: 54px;
  border-bottom: 1px solid white;
}

.accordion-button::after {
  flex-shrink: 0;
  color: white;
  height: 0.05rem;
  margin-left: auto;
  content: "";
  background-image: none;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: $primal-color-focus;
  background-image: none;
}

.accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: 0;
  box-shadow: none;
}
