.navbar {
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: $primal-color !important; // <--- reset bootstrap
  text-transform: uppercase;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.navbar-collapse {
  width: 100%;
}

.icono {
  width: 70px;
}
